.profileItem{
  width: 30%;
  padding: 10px;
  height: 60%;
}




.thumbnail {
    width: 124px;
    height: 124px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5em;
    border-radius: 100%;
}

.phNumber{
    font-weight: bold;
    text-align: center;
    color: #77002e;
}

.actions {
  display: flex;
  justify-content: center;
  }
  
.actions button {
    font: inherit;
    cursor: pointer;
    background-color: #77002e;
    color: white;
    padding: 0.5rem 1.5rem;
    border: 1px solid #77002e;
    border-radius: 4px;
    font-weight: bold;
  }
  
.actions button:hover,
.actions button:active {
    background-color: #a50e48;
    border-color: #a50e48;
  }